<div style="width:50%;">
  <h1 style="width:30%;float:left;">Enqueued Jobs</h1>
  <form method="post" id="add_tags" action="" style="width:50%;float:left;margin:10px 0;">
    <input name="tag" type="text" value="" style="width:200px;margin:3px;height:15px;" placeholder="Tag name" />
    <input type="submit" value="Add Tag" />
  </form>
</div>
<p class="sub" style="clear:both;">
  The list below contains all jobs currently in the delayed_job queue.
</p>
<p class="sub">
  <%= "Showing #{start} to #{start + per_page} of #{@all_jobs.count} enqueued jobs." %>
</p>
<ul class="job">
    <%= partial :job, {:collection => @jobs} %>
</ul>
<%= partial :next_more, :start => start, :total_size => @all_jobs.count, :per_page => per_page %>
